global
    daemon
    maxconn 256
    log 127.0.0.1 local0 notice

defaults
    log global
    mode http
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms
    # https://www.haproxy.com/blog/websockets-load-balancing-with-haproxy/
    timeout tunnel 3600s
    timeout http-keep-alive 1s
    timeout http-request 15s
    timeout queue 30s
    timeout tarpit 60s

frontend http-in
    bind *:8080
    option httplog
    option forwardfor
    default_backend servers

backend servers
    balance leastconn
    dynamic-cookie-key MYKEY
    cookie SRVID insert dynamic
    # It should be possible to use server-template and some sort of
    # resolution system to make this scale more easily and reduce the
    # reliance on the internal docker compose naming conventions.
    #
    # IMPORTANT: the `twinkle-shiny-<n>` format depends on the project
    # name and service name in docker-compose.yml
    server shiny-1 twinkle-shiny-1:3838
    server shiny-2 twinkle-shiny-2:3838
    server shiny-3 twinkle-shiny-3:3838
    server shiny-4 twinkle-shiny-4:3838
    server shiny-5 twinkle-shiny-5:3838
    server shiny-6 twinkle-shiny-6:3838
    server shiny-7 twinkle-shiny-7:3838
    server shiny-8 twinkle-shiny-8:3838
    server shiny-9 twinkle-shiny-9:3838
    server shiny-10 twinkle-shiny-10:3838
    server shiny-11 twinkle-shiny-11:3838
    server shiny-12 twinkle-shiny-12:3838
