global
    daemon
    maxconn 256
    log 127.0.0.1 local0 notice

defaults
    log global
    mode http
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms
    # https://www.haproxy.com/blog/websockets-load-balancing-with-haproxy/
    timeout tunnel 3600s
    timeout http-keep-alive 1s
    timeout http-request 15s
    timeout queue 30s
    timeout tarpit 60s

frontend http-in
    bind *:8080
    option httplog
    option forwardfor
    default_backend servers

backend servers
    balance leastconn
    dynamic-cookie-key MYKEY
    cookie SRVID insert dynamic
    server shiny-1 twinkle-shiny-1:3838
    server shiny-2 twinkle-shiny-2:3838
